// 留言墙瀑布流样式优化
.wall-masonry-grid {
  margin-left: -20px; // 调整左侧间距

  @media (min-width: 640px) {
    margin-left: -15px;
  }

  @media (min-width: 768px) {
    margin-left: -20px;
  }

  @media (min-width: 1024px) {
    margin-left: -24px;
  }
}

.wall-masonry-grid .masonry-grid_column {
  padding-left: 12px; // 列间距
}
